@page "/counter"
@inject AppStateContainer AppStateContainer
@layout UserLayout

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment Count</button>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "currentCount")]
    public int? CounterInitialValue { get; set; }

    private int _currentCount = 0;

    protected override void OnParametersSet()
    {
        if (CounterInitialValue == null)
            _currentCount = AppStateContainer.CurrentCounter;
    }

    private void IncrementCount()
    {
        _currentCount++;
        AppStateContainer.UpdateCounter(_currentCount);
    }

}