@page "/counter"
@inject AppStateContainer AppStateContainer
@layout UserLayout

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increment Count</button>

@* <DynamicComponent Type="componentType" Parameters="parameters"></DynamicComponent> *@

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "currentCount")]
    public int? CounterInitialValue { get; set; }

    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
        AppStateContainer.UpdateCounter(currentCount);
    }

    protected override void OnParametersSet()
    {
        if (CounterInitialValue is not  null)
        {
            currentCount = CounterInitialValue.Value;
        }
    }

    private readonly Type componentType = typeof(Weather);

    private readonly Dictionary<string, object> parameters = new()
    {
        { "Title", "Welcome to dynamic Component" }
    };

}